@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  max-height: 100%;
  background-color: rgb(15, 6, 27);
  color: rgb(240, 240, 240);
  font-family: sans-serif;
}

.blur-bg {
  /* From https://css.glass */
  background: rgba(34, 17, 52, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  border: 1px solid rgba(34, 17, 52, 0.64);
}

/* home page design */

.home-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cover {
  padding-top: 5rem;
  width: 100%;
  background: linear-gradient(rgba(128, 0, 255, 0.377), rgba(89, 0, 255, 0.16)),
    url("./assets/cover/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 100%;
  min-height: 90vh;
}
